# Test related files
/test/.newgame.txt

# Executables
/src/gameDemo
/src/agentInterface
/src/agentInterfaceAlphaBeta
/src/gameDemo_alpha_beta

# Debug files
/src/*_debug
/test/.log.txt

# Object and Dependency files
/src/*.o
/src/*.d

# VSCode related files
.vscode/
